.posterImage {
  height: 580px;
}
.link {
  color: #fff;
}
.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}
.posterOverlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
  opacity: 1;
  transition: opacity 0.3s;
}
.posterOverlay:hover {
  opacity: 1;
}
.poster_title {
  font-size: 4.3rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 0.25rem;
}
.poster_runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.poster_rating {
  margin-left: 2rem;
}
.poster_description {
  /* font-style: italic; */
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 60%;
}

@media only screen and (max-width: 868px) {
  .posterOverlay {
    padding: 2rem 4rem 4rem 4rem;
    bottom: 0px;
  }
  .posterImage {
    height: 400px;
  }
  .poster_title {
    font-size: 2.7rem;
    margin-bottom: 0rem;
  }
  .poster_runtime {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .poster_description {
    font-size: 0.8rem;
    width: 65%;
  }
}
@media only screen and (max-width: 550px) {
  .posterOverlay {
    padding: 0rem 2rem 5rem 2rem;
    bottom: 0px;
  }
  .posterImage {
    height: 280px;
  }
  .poster_title {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
  .poster_runtime {
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
  }
  .poster_description {
    font-size: 0.5rem;
    width: 75%;
  }
}
