.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.22rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards_img {
  height: 300px;
}

.cards_overlay {
  /* border: 2px solid #fff; */
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 280px;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.cards_overlay:hover {
  opacity: 1;
}

.link {
  text-decoration: none;
  color: #fff;
}

.cards_title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.cards_runtime {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
}

.cards_rating {
  float: right;
}

.cards_description {
  /* font-style: italic; */
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

@media only screen and (max-width: 868px) {
  .cards {
    min-width: 150px;
    height: 240px;
  }
  .cards_img {
    height: 240px;
  }
  .cards_title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .cards_overlay {
    padding: 0 0.7rem 0.7rem 0.7rem;
  }
  .cards_runtime {
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
  }
  .cards_description {
    font-size: 0.55rem;
    margin-bottom: 0.2rem;
  }
}
@media only screen and (max-width: 550px) {
  .cards {
    min-width: 130px;
    height: 200px;
  }
  .cards_img {
    height: 200px;
  }
  .cards_title {
    font-size: 0.9rem;
    margin-bottom: 0.15rem;
  }
  .cards_overlay {
    padding: 0 0.6rem 0.6rem 0.6rem;
  }
  .cards_runtime {
    font-size: 0.6rem;
    margin-bottom: 0.15rem;
  }
  .cards_description {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
  }
}
