.Header {
  /* border: 2px solid #fff; */
  margin: 0 2.5rem;
  padding: 0.7rem 0;
  align-items: center;
  display: flex;
  background-color: none;
  justify-content: space-between;
}

.Header-left {
  display: flex;
  align-items: center;
}

.links {
  margin: 0 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in;
}
.links img {
  height: 50px;
  margin: 0 10px;
}

.links:hover {
  color: red;
}
